body{
    position: relative;
}
div.jumbotron::before{ 
    bottom: 0px;
}
.caixa{
    background-image: url('../img/wave.svg'), url('../img/bg.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;

    position: absolute;
    width: 100%;
    height: 70vh;
    
}